/1. Introduction to Business Problem & Dataset.mp4
/1. Introduction to Business Problem & Dataset.srt
/10. Checking Accuracy of Model.mp4
/10. Checking Accuracy of Model.srt
/2. Datasets & Resources.html
/3. Exploring your data.mp4
/3. Exploring your data.srt
/4. Intuition behind TF-IDF --part 1.mp4
/4. Intuition behind TF-IDF --part 1.srt
/5. Intuition behind TF-IDF --part 2.mp4
/5. Intuition behind TF-IDF --part 2.srt
/6. Apply TF-IDF on data.mp4
/6. Apply TF-IDF on data.srt
/7. Intuition behind Logistic Regression --part 1.mp4
/7. Intuition behind Logistic Regression --part 1.srt
/8. Intuition behind Logistic Regression --part 2.mp4
/8. Intuition behind Logistic Regression --part 2.srt
/9. Apply Logistic Regression on Data.mp4
/9. Apply Logistic Regression on Data.srt
/drive-download-20240226T123248Z-001.zip
/NLP_password_strength_Shan_Singh.ipynb
/password_data.sqlite